## ASSAY JSON
{{ assay_json }}

## USER PROMPT
The rule name is {{ rule_name }}
The rule has the following assay-scope parameters: {{ assay_scope_parameters }}
And the following compound method-scope parameters: {{ compound_scope_parameters }}
And the following chromatogram method-scope parameters: {{ chromatogram_scope_parameters }}

{{ user_prompt }}